/* Desktop */

*{
	font-family: 'Segoe UI';
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.clickthrough{
	pointer-events: none;
}
.desktop{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-image: url('/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}

.drop{
	width: 4%;
	height: 10%;
}

.desktop table{
	width: 100%;
	height: 95%;
}

.desktop table tr{
	border: 1px solid red;
}

/* Dektop Item */

.icon{
	color: white;
	margin-top: 10%;
	margin-bottom: -25%;
	text-shadow: 0 0 3px #000;
	cursor: pointer;
}

.icon:hover{
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}
.icon .material-icons{
	margin-left: 20%;
	font-size: 3.5em;
	text-align: center;
	pointer-events: none;
}

.icon h3{
	margin-top: -2%;
	font-family: 'Segoe UI';
	text-align: center;
	pointer-events: none;
}

/* Chrome window */
.chrome-box{
	position: absolute;
	background-color: white;
	width: 70%;
	min-width: 400px;
	min-height: 400px;
	max-height: 95.5%;
	height: 800px;
	left: 15%;
	top: 5%;
	resize: both;
	overflow: auto;
	box-shadow: 0 8px 6px -6px black;
}

.handle h3{
	float: left;
	position: absolute;
	font-family: 'Segoe UI';
	color: white;
	top: -25%;
	padding-left: 2%;
}

.handle .chrome-x,.handle .chrome-btn{
	float: right;
	width: 60px;
	text-align: center;
	cursor: pointer;
}
.handle .chrome-x:hover{
	background-color: #f74545;
	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}

.handle .chrome-btn:hover{
	background-color: #4d4d4d;
	-webkit-transition: background-color 50ms linear;
    -ms-transition: background-color 50ms linear;
    transition: background-color 50ms linear;
}
.handle .chrome-x .material-icons, .handle .chrome-btn .material-icons{
	font-size: 2em;
	color: white;
}
.handle, .chrome-box-fs .handle {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color:#363636;
	cursor: grab;
	z-index: 1;
	box-shadow: 0 8px 6px -6px black;
}

.chrome-box .chrome-content, .chrome-box-fs .chrome-content{
	position: relative;
	background-color: black;
	height: 99%;
	width: 100%;
}

.chrome-box-fs{
	position: absolute;
	background-color: white;
	width: 100%;
	max-height: 95.5%;
	top: 0;
	height: 96%;
	overflow: auto;
}

/*Start modal*/
.start-modal{
	position: absolute;
	width: 20%;
	height: 65%;
	bottom: 42px;
	left: 0;
	backdrop-filter: blur(8px);
	background-color: rgba(54, 54, 54, 0.9);
}

.start-modal .left-bar{
	float: left;
	height: 100%;
	width: 13.6%;
	background-color: rgba(34, 34, 34, 0.493);
}

.start-modal .left-bar .icons{
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.start-modal .left-bar .icons .i-container{
	background-color: rgba(34, 34, 34, 0);
	width: 100%;
	height: 50px;
	text-align: center;
	cursor: pointer;
}

.start-modal .left-bar .icons .i-container:hover{
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.start-modal .left-bar .icons .i-container i{
	padding-top: 8px;
	font-size: 2em;
	pointer-events: none;
	color: white;
}

.start-modal .right-bar{
	width: 86.4%;
	height: 100%;
	float: right;
}

.start-modal .right-bar h3{
	color: white;
	padding-left: 5%;
	font-weight: normal;
}

.start-modal .right-bar .entry, 
.search-modal .entry{
	padding-left: 5%;
	color: white;
	padding-bottom: 3%;
	cursor: pointer;
}

.start-modal .right-bar .entry:hover, 
.search-modal .entry:hover{
	background-color: rgba(255, 255, 255, 0.1) !important;
	border: 1px solid white;
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}
.start-modal .right-bar .entry .material-icons,
.search-modal .entry .material-icons {
	padding-right: 2%;
	font-size: 2em;
	position: relative;
    top: 10px;
}
/* Context Modal */

.context-modal{
	position: absolute;
	width: 50%;
	height: 16%;
	bottom: 8%;
	left: 13.3%;
	background-color: #2f2f2f;
	border: 1px solid black;
}

.context-modal .modal-item{
	position: relative;
	width: 100%;
	height: 40%;
	cursor: pointer;
	border: none;
	color: white;
	text-align: center;
	padding-top: 10px;
}

.context-modal .modal-item:not(:last-child){
	border-bottom: 1px solid black;
}

.context-modal .modal-item:hover{
	background-color: rgba(255, 255, 255, 0.1);
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
	border: 1px solid rgba(255, 255, 255, 1);
}

/* Taskbar */
.taskbar {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 43px;
	width: 100%;
	background: #2f2f2f;
}

.taskbar .icons-left {
	height: 43px;
	display: inline-block;
}
.taskbar .icons-left i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 21px;
	color: white;
}

.taskbar .icons-left a {
	display: table-cell;
	border-bottom: 2px solid transparent;
	width: 55px;
	position: relative;
	cursor: pointer;
}
.taskbar .icons-left a .material-icons{
	top: 22px;
	font-size: 1.5rem;
}

.taskbar .icons-left a:hover {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

.taskbar .icons-left a:hover .material-icons{
	color: #65c2f7;
}

.taskbar .icons-left .search {
	display: table-cell;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.taskbar .icons-left .search input {
	width: 280px;
	padding: 12px 10px;
	background-color: #3a3a3a;
	border: 1px solid #4a4a4a;
	color: white;
	padding-left: 15%;
}

.taskbar .icons-left .search input:focus {
	outline: none;
	background-color: white;
	color: black;
}

.taskbar .icons-left .search input:focus+.material-icons{
	color: black;
}

.taskbar .icons-left .search .material-icons {
	position: relative;
	left: 25px;
	top: -20px;
	font-size: 2rem;
}

.taskbar .icons-left .search input:hover{
	box-shadow:0px 0px 0px 2px #4f4f4f inset;
}
/* Middle Icons */

.taskbar .icons-middle{
	position: fixed;
	left: 22%;
	width: 60%;
	height: 43px;
	display: inline-block;
}

/* Right time */

.taskbar .right {
	height: 43px;
	float: right;
}

.taskbar .right .datetime {
	display: table-cell;
	width: 70px !important;
	cursor: pointer;
	padding-top: 3px;
}

.taskbar .right .datetime span {
	display: block;
	font-family: 'Segoe UI';
	text-align: center;
	margin-top: 5px;
	font-size: 11.3px;
	color: white;
}

.taskbar .right .datetime:hover {
	background-color: rgba(255, 255, 255, 0.1) !important;
}

/* Projects */

.project-container{
	position: absolute;
}

.project-container h1{
	text-align: center;
	font-weight: normal;
}

.project-container h3{
	margin-left: 40px;
	font-weight: normal;
}

.project-container img{
    display:block;
    margin:auto;
}

.project-container .text-container{
	padding-left: 5%;
}

.project-container .text-container h1,
.project-container .text-container h2,
.project-container .text-container h3,
.project-container .text-container h4{
	font-weight: bold;
	padding-left:0;
}

.project-container button {
    font-size: 100%;
	padding: 0.5em 1em;
	margin-right: 40px;
	margin-top: -4px;
	cursor: pointer;
	float: right;
    color: #444;
    border: none rgba(0, 0, 0, 0); 
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}


.project-container .image-carousel{
	width: 80%;
	margin: auto;
}

.project-container .image-carousel img{
	height: 500px;
	object-fit: contain;
}
.project-container button:hover, .project-container button:focus {
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.hue-says-container{
	overflow: visible;
	background-color: black;
	position: absolute;
}

/* Documents */

.documents-container{
	position: absolute;
	display: flex;
	flex-flow: row wrap;
	height: 60%;
	width: 100%;
	top: 0;
}

.documents-container .icon{
	position: relative;
	color: black;
	text-shadow: none;
	max-width: 50px;
	padding-right: 80px;
	padding-left: 20px;
	height: 150px;
	position: relative;
	top: -40px;
	cursor: pointer;	
}

.documents-container .icon h3{
	hyphens: overflow;
}

.documents-container .icon:hover{
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

/* Search Modal */
.search-modal{
	position: absolute;
	width: 20%;
	height: 65%;
	bottom: 42px;
	left: 55px;
	backdrop-filter: blur(8px);
	background-color: rgba(54, 54, 54, 0.9);
}

.search-modal h3{
	color: white;
	font-weight: normal;
	padding-left: 15px;
	font-size: 1.5em;
}